.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightslategray;
    z-index: 100;
    top: 0;
    width: 100%;
}

.header__icon {
    font-size: 30px;
    color: white;
    object-fit: contain;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}